.btn-whatsapp {
    background-color: #5ECEB3;
    color: #FFFFFF !important;
    border-radius: 65px;
}

.aktif{
    background-color: #ce985e50;
}

.whatsapp {
    bottom: 2rem;
    right: 2rem;
    position: fixed;
    z-index: 2;
}

@media(max-width:720px) {
    .tidak-sembunyi{
        display: none;
    }
    .sembunyi{
        display: inline !important;
    }
    .produk{
        margin: 5rem 0 !important;
    }
}
@media (max-width:575px) {
    .img-produk{
    height: 280px;
    }
    .produk{
        margin: 3rem 0 !important;
    }
}
@media (max-width:415px) {
    .img-produk{
        height: 210px;
    }
    .produk{
        margin: 2rem 0 !important;
    }
}
/* Swipper */
.swiper-container {
    /* width: 100%; */
    /* height: 100%; */
    /* padding: 0 3rem 4em 3rem; */
    margin-top: 4rem;
    /* margin-bottom: 0rem; */
  }
  .swiper-slide {
    text-align: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
/* Swipper end */
/* Kategori swiper */
.swiper-kategori {
    width: 100%;
    height: 100%;
  }

  .kategorii {
    text-align: center;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
/* Kategori swiper end */

/* HERO */
.sembunyi{
    display: none;
}
.hero {
    background-color: #CE975E;
    height: 100vh;
}

/* .hero-content{
    margin-top: 65px;
} */
.center-hero {
    margin: 0;
    position: absolute;
    top: 55%;
    transform: translate(0, -50%);
}

.btn-see-product {
    box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.15);
}

.btn-see-product:hover {
    background-color: #ac7a46 !important;
    color: #ffffff !important;
}

.img-hero {
    width: 80%;
    height: auto;
}
.img-hero-hidden {
    /* margin-top: 1rem; */
    width: 50%;
    height: auto;
}

/* HERO END */
/* Product */
.produk {
    margin: 8rem 0;
}

.btn-kategori {
    padding: .2rem .5rem;
    border-radius: 5px;
}

/* .gambar-produk{
    height: 250px;
    max-width: 100%;
} */
.card-img-top {
    width: 100%;
    height: auto;
    padding: .5rem;
}

.katalog {
    margin: 1.5rem 0;
}

.see-all .iconify:hover {
    color: #FFFFFF !important;
}
/* Product End */
/* testimoni */
.testimoni{
    background-color: #F9F2EB;
    padding: 4rem 0;
}
.img-testi{
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 100px;
}
.garis{
    background: #E5E5E5;
    border-radius: 2px;
    width: 40px;
    height: 4px;
    margin: 0 auto;
}
/* testimoni end */