.search-result{
    margin-bottom: 2.5rem;
    padding-top: 2.5rem;
}
.img-produk{
    width: 100%;
    height: auto;
    padding: .5rem;
}
/* @media (max-width:960px) {
    .img-produk{
        height: 180px;
        object-fit: cover;
    }
}
@media (max-width:720px) {
    .img-produk{
        height: 150px;
        object-fit: cover;
    }
}
@media (max-width:575px) {
    .img-produk{
        height: 280px;
        object-fit: cover;
    }
}
@media (max-width:415px) {
    .img-produk{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
} */
